<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Email: <a href="mailto:zaralouis13@gmail.com">zaralouis13@gmail.com</a></li>
	        		<li><a href="https://www.linkedin.com/in/zara-louis-787b28121">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
